.trailer {
    padding: 5vw;
    min-height: 80vh;
    text-align: center;
    &__video {
        iframe {
            height: 80vh;
            width: 70vw;
            @media (max-width:920px) {
                width: 80vw;
                height: 40vh;
            }
        }
    }
    &__title {
        padding-bottom: 20px;
    }
}